.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  html, body {
    height: 100%;
  }
  
  body {
    background-color: hsl(30, 38%, 92%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-box img { 
    height: 600x;
    width: 400px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .right-box {
    background-color: white;
    height: 600px;
    width: 400px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  heading {
    color: gray;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 6px;
    font-size: 14px; 
  }

  .right-box  p {
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 1.7;
  }

  .right-box-contents {
    padding: 50px;
  }

  .right-box h1 {
    font-family: 'Fraunces', serif;
    font-size: 45px;
    line-height: 1;
  }

.price {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

  .new-price {
    color: rgb(69, 139, 69);
    font-size: 40px;
    font-family: 'Fraunces', serif;
  }

  .old-price {
    
    padding: 35px;
    font-family: 'Fraunces', serif;
    color: gray;
    text-decoration: line-through;
  }

button {
  background-color:  rgb(8, 83, 45);
  color: white;
  font-size: 19px;
  font-weight: bold;
  
  border-radius: 8px;
  width: 300px;
  height: 60px;
}

svg {
  padding-right: 8px;
}


